body {
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(fundo.jpg);
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
}

#form {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 60px 35px;
}

#form-box{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600 px;
  padding: 20px 35px;
  border: 2px solid turquoise;
  border-radius: 5px;
}


#form-p {
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: black;
  
  background-color: turquoise;
  font-size: 12pt;
  height: 40px;
  border-radius: 5px;

}

#button {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

}


#button button {
  color: black;
  background-color: turquoise;

}
.form-control  {
  color: white;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 15px;
  width: 100%;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.form-control::placeholder {
  color: white;
}

.form-group {
  margin-top: 7px;
}

#gen {
  display: flex;
  font-size: 11pt;
  margin-top: 10px;
  padding-right: 25px;

}

.form-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.lb {
  margin-left: 20px;
}

#data {
  background-color: white;
  color: black;
}
.alert {
  margin-top: 30px;
}






